nav {
	max-width: $site-width;
	height: 80px;
	// background-color: $site-black;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid $site-white;
	position: relative;
	z-index: 99;

	.links {
		a {
			color: $site-white;
			text-decoration: none;
			font-family: gill_sans;
			width: 100%;
		}

		span {
			color: $site-white;
			margin: 0 20px;
		}
	}

	.logo {
		width: 9.25%;
		height: 40px;
		// background-color: bisque;
		background-image: url(../images/logo-white.png);
		color: $site-white;
	}
}
